:root {
  --primary-color: #0d1b2a;
  --secondary-color: #1b263b;
  --shadow-color: #415a77;
  --third-color: #778da9;
  --text-color-primary: #ffffff;
  --text-color-secondary: #e0e1dd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  object-fit: cover;
  background-color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: var(--text-color-primary);
}
html {
  scroll-behavior: smooth;
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 2;
  font-weight: bold;
}
header > h1 {
  margin-right: auto;
  padding: 20px;
}
#header img {
  width: 100px;
  max-width: 150%;
  height: auto;
  object-fit: cover;
}
#nav-bar {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
nav#navbar {
  display: flex;
  margin-left: auto;
}
nav#nav-bar ul {
  display: flex;
  align-items: end;
  gap: 30px;
  list-style: none;
}

nav#nav-bar li a {
  text-decoration: none;
  color: var(--text-color-primary);
  font-size: 1.5rem;
  padding: 5px 10px;
  transition: background 0.3s;
}
nav#nav-bar li a:hover {
  background-color: var(--shadow-color);
  border-radius: 5px;
}
#hero {
  padding-bottom: 100px;
}
.container-hero {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.headline {
  width: 50%;
  margin-left: 90px;
}
.headline h1 {
  font-size: 4rem;
  margin-left: auto;
  font-weight: bold;
}
.headline p {
  font-size: 1.5rem;
}
.hero-img {
  position: relative;
  display: flex;
  justify-self: flex-end;
  width: 65%;
  height: auto;
  padding: 20px;
  padding-top: 100px;
}
.aurorian-img {
  width: 50%;
  height: auto;
  margin-left: 100px;
}
.aurorian-shawdow {
  position: absolute;
  top: 10%;
  left: 25%;
  width: 60%;
  height: auto;
  z-index: 1;
  opacity: 0.5;
}
#about {
  padding-top: 160px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.about-tagline {
  text-align: center;
  font-size: 2.5rem;
}
#about {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 100px;
}
.container-about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0px;
  padding-top: 100px;
}
.video-about {
  width: 50%;
  padding: 20px;
}
.text-about {
  width: 50%;
  padding: 20px;
  font-size: 1.8rem;
}
.text-about p {
  font-size: 1.8rem;
}
.text-bold {
  font-weight: bold;
}

#product {
  padding-top: 120px;
  text-align: center;
  width: 100%;
}
#product h1 {
  font-size: 2.5rem;
  padding-top: 25px;
}

.card-container {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 100px;
}
.card {
  width: 25rem;
  background-color: var(--shadow-color);
  border: 1px solid var(--text-color-primary);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}
.card img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  margin-bottom: 15px;
}
.card h1 p {
  padding-bottom: 100px;
}
.card-content {
  background-color: var(--third-color);
  height: 160px;
  padding: 25px;
  margin: 15px 0;
  border-radius: 8px;
}
.card-content h3 {
  padding: 5px 0px;
  margin: 5px 0;
}
.card-content p {
  padding: 5px 0px;
  margin: 5px;
}
.card-content .card-description {
  font-size: 16px;
}
.card-container .card-content .card-button {
  display: flex;
  margin-left: auto;
}
button {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--shadow-color);
  color: var(--text-color-primary);
  transition: background-color 0.3 ease;
}
button:hover {
  background-color: var(--text-color-secondary);
  color: var(--primary-color);
}
form {
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}
form h3 {
  font-size: 2.5rem;
  padding-bottom: 20px;
}

#submit {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--shadow-color);
  color: var(--text-color-primary);
  transition: background-color 0.3 ease;
}
#submit:hover {
  background-color: var(--text-color-secondary);
  color: var(--primary-color);
}
input#email {
  padding: 0 30px;
  margin: 10px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  min-height: 3em;
  width: 20%;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .aurorian-img {
    width: 80%; /* Menyesuaikan lebar gambar di layar kecil */
    margin-left: 0; /* Menghapus margin di perangkat kecil */
  }
  .aurorian-shawdow {
    width: 80%; /* Menyesuaikan lebar bayangan */
  }
}
