* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  object-fit: cover;
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: white;
}
html {
  scroll-behavior: smooth;
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(21, 11, 16);
  position: sticky;
  top: 0;
  z-index: 2;
  font-weight: bold;
}
header > h1 {
  margin-right: auto;
  padding: 20px;
}
#header img {
  width: 100px;
  max-width: 150%;
  height: auto;
  object-fit: cover;
}
#nav-bar {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
nav#navbar {
  display: flex;
  margin-left: auto;
}
nav#nav-bar ul {
  display: flex;
  align-items: end;
  gap: 30px;
  list-style: none;
}

nav#nav-bar li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 5px 10px;
  transition: background 0.3s;
}
nav#nav-bar li a:hover {
  background-color: #555;
  border-radius: 5px;
}
#hero {
  padding-bottom: 100px;
}
.container-hero {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.headline {
  width: 50%;
  margin-left: 90px;
}
.headline h1 {
  font-size: 4rem;
  margin-left: auto;
  font-weight: bold;
}
.headline p {
  font-size: 1.5rem;
}
.hero-img {
  position: relative;
  display: flex;
  justify-self: flex-end;
  width: 65%;
  height: auto;
}
.aurorian-img {
  width: 50%;
  height: auto;
  margin-left: 100px;
}
.aurorian-shawdow {
  position: absolute;
  top: 10%;
  left: 25%;
  width: 60%;
  height: auto;
  z-index: 1;
  opacity: 0.5;
}
#about {
  padding-top: 160px;
}
@media (max-width: 768px) {
  .aurorian-img {
    width: 80%; /* Menyesuaikan lebar gambar di layar kecil */
    margin-left: 0; /* Menghapus margin di perangkat kecil */
  }
  .aurorian-shawdow {
    width: 80%; /* Menyesuaikan lebar bayangan */
  }
}
